<% @users.each do |user| %>
  <div>
    <%= user.email %>
  </div>
  <div>
    <%= user.roles.pluck(:name) %>
  </div>

  <%# user edit policy %>
  <% if policy(user).update? %>
    <%= link_to 'edit', edit_user_url(user) %>
  <% end %>
<% end %>